.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid #f00;
    background: linear-gradient( right, blue, green, yellow);
}

.index {
    margin-top: 5px;
    color: #f00; 
    font-size: 38px;
    margin-bottom: 0;
}

.index_picture {
    width: 87px;
    margin-top: 0;
    padding-top: 0;
}